<div class="container mt-4">
  {{#if alert}}
    <div class="alert alert-{{alert.color}}" role="alert">
      {{alert.message}}
    </div>
  {{/if}}
  <div class="row justify-content-between">
    <div class="h2 font-weight-bold">
      Hi
      {{User.username}}
    </div>
    <div>
      <a
        href="/logout"
        class="btn font-weight-bold text-white"
        style="background-color: #7289da;"
      >
        Logout
      </a>
    </div>
  </div>
  <div class="row w-100 h-100">
    {{#if User.umassEmail}}
      {{#if User.umassVerified}}
        <div class="row p-4">
          <img src="/images/verified-green.webp" style="height:3rem;" />
          <div class="h2 text-success font-weight-bold">
            Congratulations, You're verified
          </div>
          <p style="font-size: x-large;">
            If you still do not have a verified role
            <a href="/u/assign-role">
              Click Here
            </a>
            , If it still does not work contact a moderator to get it fixed.
          </p>
        </div>
      {{else}}
        <div class="row p-4">
          <div class="col">
            <a href="/u/send-email" class="h4 text-primary">
              Click here to verify
              {{User.umassEmail}}
            </a>
            <br />
            <a
              href="#"
              class="h6 mt-3 text-warning"
              onclick="this.hidden=true;document.getElementById('updateWrongEmail').hidden=false"
            >
              Not your email? Click here to re-enter.
            </a>
            <form
              action="/u/update-email"
              id="updateWrongEmail"
              method="POST"
              style="width:100%"
              hidden
            >
              <div class="form-group">
                <label for="#umassEmailInput">
                  UMass Email address
                </label>
                <input
                  type="email"
                  class="form-control form-control-lg font-weight-bold"
                  placeholder="Enter email ending in @umass.edu"
                  id="umassEmailInput"
                  name="umassEmail"
                  aria-describedby="emailHelp"
                  style="width: 100%;"
                  required
                />
                <small id="emailHelp" class="form-text text-muted">
                  We'll never share your email with anyone else.
                </small>
                <button type="submit" class="btn btn-primary" id="emailSubmit">
                  Submit
                </button>
              </div>
            </form>
          </div>
        </div>
      {{/if}}
    {{else}}
      <form action="/u/update-email" method="POST" style="width:100%">
        <div class="form-group">
          <label for="#umassEmailInput">
            UMass Email address
          </label>
          <input
            type="email"
            class="form-control form-control-lg font-weight-bold"
            placeholder="Enter email ending in @umass.edu"
            id="umassEmailInput"
            name="umassEmail"
            aria-describedby="emailHelp"
            style="width: 100%;"
            required
          />
          <small id="emailHelp" class="form-text text-muted">
            We'll never share your email with anyone else.
          </small>
          <button type="submit" class="btn btn-primary" id="emailSubmit">
            Submit
          </button>
        </div>
      </form>
    {{/if}}
  </div>
  {{#if User.isAdmin}}
    <div class="row">
      <div class="row p-4">
        <a href="/u/admin" class="btn btn-primary btn-lg">
          Open Admin console
        </a>
      </div>
    </div>
  {{/if}}
</div>